textarea {
  resize: none !important;
}

.footer-input {
  width: 100% !important;
  height: 130px !important;
}

.calc-height {
  height: calc(100% - 170px) !important;
  overflow: auto;
}

@media screen and (min-width: 640px) {
  .footer-input {
    width: calc(100% - 260px) !important;
    height: 170px;
  }

  .display-none {
    display: none !important;
  }

  .calc-height {
    height: calc(100% - 130px) !important;
    overflow: auto;
  }
}

